<h1>Welcome!!!</h1>
<p style='font-size: 20px'>
Acesse o quente!!
<a href="https://tranquil-chamber-3603.herokuapp.com/">
	https://tranquil-chamber-3603.herokuapp.com/
</a>

</p>

<p><%= link_to "Fathers", fathers_path %></p>
<p><%= link_to "Children", children_path %></p>
<p><%= link_to "Occupations", occupations_path %></p>
